main {
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
}

app-students {
  width: 100%;
}

app-sidebar:hover {
  margin-right: 30px;

  @media (width > 768px) {
    margin-right: 0;
  }
}
