<h2 mat-dialog-title>{{ editingCourse ? "Editar Curso" : "Crear Curso" }}</h2>

<mat-dialog-content>
  <form [formGroup]="courseForm">
    <mat-form-field appearance="fill">
      <mat-label>Id del Curso</mat-label>
      @if (editingCourse) {
        <input matInput disabled value="{{ editingCourse.id }}" />
      } @else {
        <input matInput name="id" formControlName="id" />
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label>Nombre del Curso</mat-label>
      <input matInput name="title" formControlName="title" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Descripción del Curso</mat-label>
      <input matInput name="description" formControlName="description" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Estado del Curso</mat-label>
      <mat-select name="status" formControlName="status">
        <mat-option value="Pendiente">Pendiente</mat-option>
        <mat-option value="Aceptado">Aceptado</mat-option>
        <mat-option value="Rechazado">Rechazado</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="w-full">
      <mat-label>Fecha inicio - Fecha fin</mat-label>
      <mat-date-range-input [rangePicker]="picker">
        <input
          matStartDate
          formControlName="startDate"
          placeholder="Fecha inicio"
        />
        <input matEndDate formControlName="endDate" placeholder="Fecha fin" />
      </mat-date-range-input>
      <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancelar</button>
  <button mat-button (click)="onSubmit()">Crear</button>
</mat-dialog-actions>
