<section>
  <div>
    <ng-icon name="heroHomeSolid"></ng-icon>
    <span>Inicio</span>
  </div>

  <div>
    <ng-icon name="heroAcademicCapSolid"></ng-icon>
    <span>Cursos</span>
  </div>

  <div>
    <ng-icon name="heroMapSolid"></ng-icon>
    <span>Rutas</span>
  </div>

  <div id="hr"></div>

  <div>
    <ng-icon name="heroBriefcaseSolid"></ng-icon>
    <span>Trabajos</span>
  </div>

  <div id="hr"></div>

  <div>
    <ng-icon name="heroEnvelopeSolid"></ng-icon>
    <span>Soporte</span>
  </div>
</section>
